@import "tailwindcss";




:root {
  --color-primary: #E625A4;
  --color-secondary: #62408C;
  --color-accent: #EFE2FF;
  --color-background: #221C5A;
}

@theme inline {
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-background: var(--color-background);
  --color-accent: var(--color-accent);
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}